* {font-size:medium;}
#icon {height:50px; width:50px;align:baseline;}
#myhandle {width:85%;margin:0.2em 1em;padding:0.2em;}
#wrapper_lookup {width:85%;margin:1em;padding:0.2em;}
#output {width:85%;margin:1em;padding:0.2em;}
#treps {width:85%;margin:1em;padding:0.2em;background-color:#cccccc;}
